body {
  font-family: arial;
}

.carousel__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.carousel__track {
  background: #1c242a;
  height: 300px;
  width: 100%;
  max-width: 1100px;
  overflow: hidden;
  position: relative;
}
.carousel__item {
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  top: -50%;
  opacity: 0;
  transition: 0.5s;
  width: 200px;
}
.carousel__item img {
  max-width: 100%;
}
.carousel__item_3 {
  top: 35%;
  left: 9%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0.5;
}
@media (max-width: 992px) {
  .carousel__item_3 {
    display: none;
  }
}
.carousel__item_4 {
  top: 40%;
  left: 19%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0.7;
}
@media (max-width: 992px) {
  .carousel__item_4 {
    left: 11%;
  }
}
@media (max-width: 768px) {
  .carousel__item_4 {
    display: none;
  }
}
.carousel__item_5 {
  top: 45%;
  left: 31%;
  transform: translate(-50%, -50%);
  z-index: 3;
  opacity: 0.9;
}
@media (max-width: 992px) {
  .carousel__item_5 {
    left: 26%;
  }
}
@media (max-width: 768px) {
  .carousel__item_5 {
    left: 15%;
  }
}
.carousel__item_6 {
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
  width: 300px;
  z-index: 6;
  transition: 0.5s;
}
.carousel__item_6:hover {
  width: 500px;
}
.carousel__item_6:hover ~ .carousel__prev-btn_1 {
  z-index: 4;
}
.carousel__item_6:hover ~ .carousel__next-btn_1 {
  z-index: 4;
}
.carousel__item_7 {
  top: 45%;
  left: 69%;
  transform: translate(-50%, -50%);
  z-index: 3;
  opacity: 0.9;
}
@media (max-width: 992px) {
  .carousel__item_7 {
    left: 74%;
  }
}
@media (max-width: 768px) {
  .carousel__item_7 {
    left: 85%;
  }
}
.carousel__item_8 {
  top: 40%;
  left: 81%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0.7;
}
@media (max-width: 992px) {
  .carousel__item_8 {
    left: 89%;
  }
}
@media (max-width: 768px) {
  .carousel__item_8 {
    display: none;
  }
}
.carousel__item_9 {
  opacity: 0.7;
  top: 35%;
  left: 91%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
@media (max-width: 992px) {
  .carousel__item_9 {
    display: none;
  }
}
.carousel__item_10 {
  left: 90%;
  transform: translate(-50%);
}
.carousel__prev-btn {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 4;
  cursor: pointer;
}
.carousel__prev-btn_3 {
  left: 0;
  width: 10%;
}
@media (max-width: 992px) {
  .carousel__prev-btn_3 {
    display: none;
  }
}
.carousel__prev-btn_2 {
  width: 12%;
  left: 10%;
}
@media (max-width: 992px) {
  .carousel__prev-btn_2 {
    left: 0;
    width: 15%;
  }
}
@media (max-width: 768px) {
  .carousel__prev-btn_2 {
    display: none;
  }
}
.carousel__prev-btn_1 {
  width: 14%;
  left: 22%;
  z-index: 6;
}
@media (max-width: 992px) {
  .carousel__prev-btn_1 {
    left: 15%;
    width: 19%;
  }
}
@media (max-width: 768px) {
  .carousel__prev-btn_1 {
    width: 28%;
    left: 0;
  }
}
.carousel__next-btn {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 4;
  cursor: pointer;
}
.carousel__next-btn_1 {
  width: 14%;
  right: 22%;
  z-index: 6;
}
@media (max-width: 992px) {
  .carousel__next-btn_1 {
    right: 15%;
    width: 19%;
  }
}
@media (max-width: 768px) {
  .carousel__next-btn_1 {
    width: 28%;
    right: 0;
  }
}
.carousel__next-btn_2 {
  width: 12%;
  right: 10%;
}
@media (max-width: 992px) {
  .carousel__next-btn_2 {
    right: 0;
    width: 15%;
  }
}
@media (max-width: 768px) {
  .carousel__next-btn_2 {
    display: none;
  }
}
.carousel__next-btn_3 {
  right: 0;
  width: 10%;
}
@media (max-width: 992px) {
  .carousel__next-btn_3 {
    display: none;
  }
}
.prev {
  width: 30%;
  left: 0;
}

.next {
  width: 30%;
  left: 70%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 7;
  padding: 30px;
  transition: 0.5s;
  transform: scale(0) translateY(-100%);
}
.modal__block {
  border-radius: 15px;
  position: relative;
}
.modal__close {
  color: white;
  font-size: 24px;
  position: absolute;
  right: -30px;
  top: -30px;
  padding: 10px;
  cursor: pointer;
}
.modal__img {
  height: 80vh;
  border-radius: 15px 15px 0 0;
  max-width: 900px;
  position: relative;
  overflow: hidden;
}
.modal__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.modal__info {
  text-align: center;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  border-radius: 0 0 15px 15px;
  background: rgba(190, 190, 190, 0.3);
}
.modal__alt {
  display: inline-block;
  padding: 5px 10px;
}
.modal__num {
  display: inline-block;
}
.modal__prev {
  width: 50%;
  left: 0;
}
.modal__next {
  width: 50%;
  right: 0;
}
.modal__active {
  transform: scale(1) translateY(0);
}